.BigBoxContainer {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    height: 250px;
    width: 300px;
    padding: 0px;
    border: solid 1px #7d7d7d;
    overflow: hidden;
}
.simbaBigBox {
    width: 300px;
}

.simbaBigBox .simbaHeader {
    height: 53px;
    background-image: url('http://simbadeals/adgroups/bigbox/bigbox-header.png');
    border-bottom: solid 1px #dadada;
}

.simbaBigBox .simbaFooter {
    height: 46px;
    background-image: url('http://simbadeals/adgroups/bigbox/bigbox-footer.png');
    border-top: solid 1px #dadada;
}

.simbaBigBox .simbaBody .simbaProductContainer {
    overflow: hidden;
    width: 111px;
    display: inline-block;
    cursor: pointer;
}
.simbaBigBox .simbaBody img {
    float: left;
    height: 149px;
    width: 110px;
}

.simbaBigBox .simbaBody .simbaMeta {
    display: table;
    float: right;
    width: 188px;
    height: inherit;
    padding: 0px;
    cursor: pointer;
    position: relative;
}

.simbaBigBox .simbaBody .simbaMeta .simbaBrand {
    font-size: 10px;
    color: #3e3a3b;
    display: block;
    padding: 0px 0px 6px 0px;
}

.simbaBigBox .simbaBody .simbaMeta .simbaDescription {
    font-size: 11.5px;
    color: #3e3a3b;
    letter-spacing: 0.025em;
    font-weight: 600;
    line-height: normal;
    display: block;
}

.simbaBigBox .simbaBody .simbaMeta .simbaPrice {
    display: inline-block;
    float: left;
    height: 18px !important;
    min-width: 34px;
    margin-top: 10px;
    background-color: #f24e21;
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 18px;
}
.simbaBigBox .simbaBody .simbaMeta .simbaPriceTag {
    display: inline-block;
    float: left;
    height: 18px;
    width: 10px;
    margin-top: 10px;
    background-image: url('http://simbadeals/adgroups/bigbox/price-tag.png');
}

.simbaBigBox .simbaBody .simbaMetaInner {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: left;
}

.simbaBigBox .simbaBody .simbaMetaInner .simbaLink {
	float: left;
	color: #f24e21;
	font-size: 10px;
	font-weight: 400;
	text-decoration: underline;
	text-transform: uppercase;
	padding-left: 4px;
	margin-top: 12px;
}

.simbaBigBox .simbaBody {
    background-color: #ececec;
    height: 149px;
    width: 300px;
    border-top: #dadada;
    border-bottom: #dadada;
}

.simbaBigBox .simbaBody .simba-navigation {
    height: 12px;
    width: 26px;
	bottom: 0px;
	margin-bottom: 5px;
	right: 0px;
	margin-right: 7px;
    position: absolute;
    z-index: 1000;
}
.simbaBigBox .simbaBody .simba-navigation img {
    height: 12px;
    width: 12px;
    float: left;
}
.simbaBigBox .simbaBody .simba-navigation .simba-next {
	position: relative;
	left: 2px;
}

.simbaBigBox .simbaBody .simbaArrow {
	position: absolute;
	width: 15px;
	height: 28px;
	float: left;
	margin-left: 96px;
	margin-top: 60px;
	z-index: 9000;
	background-image: url('http://simbadeals/adgroups/bigbox/arrow.png');
}