.BigBoxContainer {
	height: 250px;
	width: 300px;
	padding: 0px;
	border: solid 1px #7d7d7d;
}
.simbaBigBox {
    width: 300px;
    cursor: pointer;
}

.simbaBigBox .smHeader {
    height: 53px;
    background-image: url('http://clientfiles.sixaces.ca/sd/adgroups/bigbox/bigbox-header.png');
    border-bottom: solid 1px #dadada;
}

.simbaBigBox .smFooter {
    height: 46px;
    background-image: url('http://clientfiles.sixaces.ca/sd/adgroups/bigbox/bigbox-footer.png');
    border-top: solid 1px #dadada;
}

.simbaBigBox .smBody img {
    float: left;
    height: 149px;
    width: 111px;
}

.simbaBigBox .smBody .meta {
    float: right;
    width: 189px;
    height: inherit;
}

.simbaBigBox .smBody .meta .brand {
    font-size: 10px;
    color: #3e3a3b;
    display: block;
    padding-bottom: 10px;
}

.simbaBigBox .smBody .meta .description {
    font-size: 12px;
    color: #3e3a3b;
    font-weight: bold;
    line-height: normal;
    display: block;
}

.simbaBigBox .smBody .meta .price {
    display: inline-block;
    float: left;
    height: 18px !important;
	min-width: 34px;
    margin-top: 30px;
    background-color: #f24e21;
    color: white;
    font-family: arial;
    font-weight: 500;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 18px;
}
.simbaBigBox .smBody .meta .priceTag {
	display: inline-block;
	float: left;
	height: 18px;
	width: 10px;
	margin-top: 30px;
	content: url('http://clientfiles.sixaces.ca/sd/adgroups/bigbox/price-tag.png');
}

.simbaBigBox .smBody .meta-inner {
    padding: 10px;
    text-align: left;
}

.simbaBigBox .smBody {
    background-color: #ececec;
    height: 149px;
    border-top: #dadada;
    border-bottom: #dadada;
}
